
<div class="wrapper">
    <p>Search for food by their magic level!</p>
    <form method="post" action="@Url.Action("SearchFood", "Search")">
        <input type="number" name="magic" placeholder="Magic level" />
        <button type="submit">Search</button>
    </form>
</div>